@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
    --color-blue-300: #1273b1;
    --color-blue-500: #10649a;
    --color-blue-800: #0d5583;
    --color-blue-900: #0b4c75;
    
    --color-gray-700: #1d2943;

    --color-green-300: #6EE7B7;
    --color-green-400: #34D399;
    --color-green-500: #10B981;
    --color-green-600: #059669;
    --color-green-700: #047857;
    --color-green-800: #065F46;

    --color-red-500: tomato;
}